:root {
    --white: #ffffff;
    --gray-100: #e1e1e6;
    --gray-300: #bcc0ad;
    --gray-400: #869994;
    --gray-600: #323238;
    --gray-700: #3f3f49;
    --gray-800: #29293a;
    --gray-900: #121314;

    --green-300: #00537E;
    --green-500: #00866f;

    --red-500: #bb083e;

}

:focus {
    outline: transparent;
    box-shadow: 0 0 0 2px var(--green-500);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background: var(--gray-900);
    color: var(--gray-300);
    -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
    font-family: 'roboto', sans-serif
    font-weigth: 400;
    font-size: 1rem;
}

